body         { background-color: "blue"; background-image: url(ContBackbit.gif)}h1, h2, h3, h4, h5, p, normal, a, b
{
    font-weight: Bold;
    font-family: "Serifa BT" , "Comic Sans MS" , "arial";
    color: #ffcc99;
}